<h2>Cart Items</h2>
<% unless cart_items.nil? %>
<table width="100%" class="cart_items">
	<tr>
		<td></td>
		<td valign="top">Quantity</td>
		<td valign="top">
			Print Image and Size<br/>
			<%= generate_paper_size_combo.html_safe %>
		</td>
		<td valign="top">
			Paper<br/>
			<%= generate_paper_type_combo.html_safe %>
		</td>
		<td></td>
	</td>
	<% cart_items.each do |item| %>
	<tr id="cart_item_<%= item.id %>">
		<% unless item.photo.nil? %>
		<td valign="top"><%= image_tag "/photos/thumb0/#{item.photo.id}.jpeg"%></td>
		<td valign="top"><input type="text" class="quantity" value="<%= item.quantity%>" size=4 class="quantity" item_id=<%= item.id%> /></td>
		<td valign="top"><%= generate_paper_size_combo(item.id, item.paper_size_id).html_safe %></td>
		<td valign="top" id="price_for_<%= item.id%>"><%= item.price %></td>
		<td valign="top"><%= link_to "Add Size", "/cart/duplicate_item/#{item.id}", :method => 'post', 'data-remote' => true %></td>
		<td valign="top"> <%= link_to "Remove", "/cart/remove_item/#{item.id}", :method => 'post', 'data-remote' => true %> </td>
		<% end %>
	</tr>
	<% end %>
</table>
<table width="100%">
	<tr>
		<td colspan=4 align="right">A tax rate of 9.5% will be added for orders in California</td>
		<td width="100">Total Amount:</td>
		<td id="total_amount"><%= @total_price %></td>
	</tr>
	<tr>
		<td colspan=5 align="right"></td>
		<td width="100"><input type="Submit" value="Submit"/></td>
	</tr>
</table>
<% end %>