<h2>Cart Items</h2>
<% unless cart_items.nil? %>
<table width="100%">
	<tr>
		<td></td>
		<td valign="top">Quantity</td>
		<td valign="top">
			Print Image and Size<br/>
			<%= generate_paper_size_combo.html_safe %>
		</td>
		<td valign="top">
			Paper<br/>
			<%= generate_paper_type_combo.html_safe %>
		</td>
		<td></td>
	</td>
	<% cart_items.each do |item| %>
	<tr>
		<% unless item.photo.nil? %>
		<td valign="top"><%= image_tag "/photos/thumb0/#{item.photo.id}.jpeg"%></td>
		<td valign="top"><input type="text" class="quantity" value="1" size=4 class="quantity" item_id=<%= item.id%>/></td>
		<td valign="top"><%= generate_paper_size_combo(item.id).html_safe %></td>
		<td valign="top" id="price_for_<%= item.id%>"><%= default_paper_size_price %></td>
		<td valign="top"> Add Size </td>
		<td valign="top"> Remove </td>
		<% end %>
	</tr>
	<% end %>
	<tr><td align="center" colspan=6>A tax rate of 9.5% will be added for orders in California</td></tr>
	<tr>
		<td colspan=4 align="right"><input type="Submit"/></td>
		<td id="total_amount">Total Amount:</td>
		<td>0.00</td>
	</tr>
</table>
<% end %>