<h1 style="float:left"><%= @page_title %></h1>
<div style="float:right"><%= will_paginate @photos %></div>
<div class="breaker">&nbsp;</div>
<div>
<% @photos.each do |photo| %>
    <div style="overflow:hidden;" class="photopanels">
	    <div class="thumbnail">
	        <%= link_to image_tag("/photos/thumb1/#{photo.id}.jpeg", :alt => photo.caption), "/photos/thumb2/#{photo.id}.jpeg", :onclick => "return hs.expand(this)"%>
	        <div class="highslide-caption"> 
	          	<div style="float:right;padding-bottom:10px;font-size:11px;" id="cart_1406335">
	            	<a>Add to Favorites</a>&nbsp;|&nbsp;
					<a>Share on Facebook</a>&nbsp;|&nbsp;
					<a>Add to Cart</a>&nbsp;|&nbsp; 
					<a>Download</a>
	            </div></br>
				<span style="font-size:10px"><%= photo.file_name %></span>
	        </div>
	    </div>
	    <div style="text-align:center; color:#ff0000; margin-bottom:5px; height:23px;"></div>
	    <div class="details" style="height:80px;margin:0px; padding:0px;" id="panel1">
			</br>
	        <strong><%= photo.file_name %></strong>
	        </br>
			<div>
				</br>
				<%= link_to image_tag("/images/fav-16x16.gif", :title => "Add to favorites", :border => 0)%>
				<%= link_to image_tag("/images/fb-16x16.png", :title => "Share on facebook", :border => 0)%>
			</div>
	        <div style="margin:0px; padding:0px;" class="notice_box" id="notice_box_1406335"></div>
	    </div>
	    <div style="margin:0px; padding:0px;" class="options">
			<a>Add to Cart</a> &nbsp;|&nbsp; 
			<a>Download</a>
		</div>
	</div>
<% end unless @photos.nil? %>
</div>
<div class="breaker"></div>
<div style="float:right"><%= will_paginate @photos %></div>
<script>
	jQuery(function(){
		jQuery("a[rel='photos']").colorbox({slideshow:true});
	});
</script>
<p>&nbsp;</p>