<!DOCTYPE html>
<html>
<head>
	<title>Events - Drew Altizer Photography: San Francisco Photographer | San Francisco Event Photographer | San Francisco Corporate Photographer | Bay Area Photographer</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Events photographed by Drew Altizer Photography" />
	<meta name="keywords" content="Events Photographer, Event Photography, Photo, and variations, Video, Videos, Event/s, Public Relations, Society /Social, Corporate, Charity, Gala, Non-Profit, Conference, Convention, Wedding, Headshot/s, Celebrity, Political, Portrait/s, Interior/s, Fashion / Runway, Party, Marketing, Commercial, Fundraiser, Product, Advertising" />
	<meta name="alexa" content="100"></meta>
	<meta name="googlebot" content="all, index, follow"></meta>
	<meta name="pagerank™" content="10"></meta>
	<meta name="revisit" content="2 days"></meta>
	<meta name="revisit-after" content="2 days"></meta>
	<%= stylesheet_link_tag 'common', 'ui/smoothness/jquery-ui-1.7.1.custom.css' %>
	<%= javascript_include_tag 'menu', 'application.js', 'jquery-1.4.2.min.js', 'jquery-ui-1.7.1.custom.min.js' %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="container">
	  <div id="davheader">
	    <div id="drew_logo"><a href="/"><img src="/images/drew_logo.gif" alt="Drew Altizer" width="116" height="163" border="0" /></a></div>
	    <div id="head_nav"> <a href="/" id="mn1"><span>Events</span></a><a href="/videos" id="mn5"><span>Videos</span></a> <a href="/archives" id="mn2"><span>Archives</span></a> <a href="/home/contact" id="mn3"><span>Contact</span></a> <a href="/home/about" id="mn4"><span>About</span></a> </div>
	    <div class="breaker"></div>
	  </div>
	  <div id="spacer"></div>
	  <div id="body_column1">
	  	<div id="body_body">
	      	<div id="body_content">
	  			<%= yield %>
	  		</div>
	  	</div>
	  </div>
	  <div id="body_column2">
		<%= render 'shared/sidepanel' %>
	  </div>
	  <div id="davfooter">
	    <div class="davfooter_copy" style="padding-top:7px;padding-bottom:3px"><a href="/home/privacy">Privacy Policy</a> &nbsp;|&nbsp; <a href="/home/terms">Terms of Use</a> &nbsp;|&nbsp; <a href="/home/contact">Contact Us</a> &nbsp;|&nbsp; 
			<% if user_signed_in? %>
			  <%= link_to('Logout', destroy_user_session_path) %>
			<% else %>
			  <%= link_to('Login', new_user_session_path) %> &nbsp;|&nbsp; 
			  <%= link_to('Register', "/users/sign_up")  %>
			<% end %>
		</div>
	    <div class="davfooter_copy">
			<script type="text/javascript">
			<!--
			var currentTime = new Date()
			var year = currentTime.getFullYear()
			document.write(year)
			//-->
			</script>
			 DA Photo Web, Inc. All Rights Reserved.
		</div>
	</div>
    </div>
</body>
</html>
